<fieldset><legend>Default Teaser</legend><p>Click on the teasertext of image to edit it. These will be used by default
whenever you want to publish your article, of course you can customize them
for each specific publication</p><div class="content__teaserbox"><img src="assets/img/duck.png"/><h2>I am just a title</h2><p>Lorem ipsum and then some ipsum and then some ipsum  and then some ipsum
and then some ipsum and then some ipsum and then some ipsum and then some ipsum
and then some ipsum and then some ipsum.</p><div class="content__teaserbox__button"><div class="content__teaserbox__button__content"><a href="">Replace Image</a></div></div></div></fieldset>