.baseHeaderTwo
    .baseHeaderTwo__logo
        img(src="assets/img/smt-black.svg")
        span Small Teaser
    .baseHeaderTwo__search
        .icon
            include icons/search.html
        input(placeholder="Search")
    .baseHeaderTwo__menu
        span.info My Earnings
        span.sum &euro; 234,45
        span.choice Launch
        span.choice Write
    .baseHeaderTwo__notification
        .baseHeaderTwo__notification__box-comments
            include icons/comment.html
            .baseHeaderTwo__notification__box-comments__inner
                span 5
        .baseHeaderTwo__notification__box-bell
            include icons/bell.html
            .baseHeaderTwo__notification__box-bell__inner
                span 3
    .baseHeaderTwo__dashboard
        img(src="assets/img/duck.png")
        span Hamza El Ouakili
        .icon
            include icons/angle-down.html
