.content-container
    .content-container__layerOne-box
        .content-container__layerOne-box__breadcrumb
            span You are here
            span.icon: include icons/angle-right.html
            span Stories
        .content-container__layerOne-box__settings
            span.icon: include icons/settings.html
    .content-container__layerTwo-box
        span.icon: include icons/filter.html
        span Filter
        input(placeholder="Enter you filter term here...")
        span by publication
        .selectbox
            select
                option All/None
            span.icon: include icons/angle-down.html
    .content-container__layerThree-box
        span.icon: include icons/exchange-vertical.html
        span Sort by
        .selectbox
            select
                option Name
            span.icon: include icons/angle-down.html
        span View as


