nav
    ul
        li.outer-icon: a(href=""): include icons/arrow-left.html
        li: a(href="")  Back to Editor
        li.inner-icon: a(href=""): include icons/angle-right.html
        li: a.underline(href="")  Metadata
        li.inner-icon: a(href=""): include icons/angle-right.html
        li: a(href="")  Publications
        li.inner-icon: a(href=""): include icons/angle-right.html
        li: a(href="")  ...
        li.inner-icon: a(href=""): include icons/angle-right.html
        li: a(href="")  Confirm
        li.outer-icon: a(href=""):  include icons/check.html




