.content-container
    .content-container__layerOne-box
        .content-container__layerOne-box__breadcrumb
            span You are here
            span.icon: include icons/angle-right.html
            span Stories
        .content-container__layerOne-box__settings
            span.icon: include icons/settings.html
