.baseAside
    span.title Recent Activity
    ul.baseAside-menu
        li
            .media-item
                img(src="assets/img/1.jpg")
                .media-item__info
                    a.magazine(href="") SkyDive Magazine
                    a(href="") Published a new article
        li
            .media-item
                img(src="assets/img/2.jpg")
                .media-item__info
                    a.magazine(href="") Sansa Stark
                    a(href="") Started following you.
        li
            .media-item
                img(src="assets/img/7.jpg")
                .media-item__info
                    a.magazine(href="") TekBlock
                    a(href="") Published your article!
        li
            .media-item
                img(src="assets/img/4.jpg")
                .media-item__info
                    a.magazine(href="") Planned Maintenance Downtime
                    a(href="") Tommorow between 11pm and midnight
        li
            .media-item
                img(src="assets/img/1.jpg")
                .media-item__info
                    a.magazine(href="") SkyDive Magazine
                    a(href="") Sent you a message!
        li
            .media-item
                img(src="assets/img/5.jpg")
                .media-item__info
                    a.magazine(href="") Your article 'When lights go out...'
                    a(href="") Reached 10k readers
    span.title.second Suggested for you
    ul.baseAside-menu
        li
            .media-item
                img(src="assets/img/6.jpg")
                .media-item__info
                    a.magazine(href="") HyperDev
                    a(href="") Hyper development
                .media-item__box
                    span +
        li
            .media-item
                img(src="assets/img/7.jpg")
                .media-item__info
                    a.magazine(href="") Game of Bones
                    a(href="") Game of thrones but better!
                .media-item__box
                    span +
        li
            .media-item
                img(src="assets/img/8.jpg")
                .media-item__info
                    a.magazine(href="") Insanity Blog
                    a(href="") Well, we salute you.
                .media-item__box
                    span +
        li
            .media-item
                img(src="assets/img/9.jpg")
                .media-item__info
                    a.magazine(href="") Computing Nothingness
                    a(href="") The dark side
                .media-item__box
                    span +
        li
            .media-item
                img(src="assets/img/10.jpg")
                .media-item__info
                    a.magazine(href="") Lorem Ipsum?!
                    a(href="") Nr1 Lorem Ipsum
                .media-item__box
                    span +

    span.title.second Suggested for you
    ul.baseAside-menu
        li
            .media-item
                img(src="assets/img/6.jpg")
                .media-item__info
                    a.magazine(href="") Gitta Van Bergen
                .media-item__box
                    span +
        li
            .media-item
                img(src="assets/img/7.jpg")
                .media-item__info
                    a.magazine(href="") Julie Landen
                .media-item__box
                    span +
        li
            .media-item
                img(src="assets/img/8.jpg")
                .media-item__info
                    a.magazine(href="") S&ouml;ren Soderling
                .media-item__box
                    span +
        li
            .media-item
                img(src="assets/img/9.jpg")
                .media-item__info
                    a.magazine(href="") Lars Hombeek
                .media-item__box
                    span +
        li
            .media-item
                img(src="assets/img/10.jpg")
                .media-item__info
                    a.magazine(href="") Bert Lempens
                .media-item__box
                    span +
