h2 Add your articles metadata here
.info__help-button
    span Help
    span.icon: include icons/angle-up.html
p.
    Depending on how many publications you want to publish this on you wmight
    have to complete 3 or more steps. We will provide enough help messages to guide
    you through this process, you're almost there!
.info__confirmation-links
    span: a(href="") Okay, got it!
    span: a(href="") Show me more information
