.baseMenu
    .baseMenu__up
        ul.top
            li
                .menu-item
                    span.icon-accordion: include icons/home.html
                    Span Home
            li
                .menu-item
                    span.icon-accordion: include icons/layout-media-left.html
                    span.uppercase My Stories
            li
                .menu-item
                    span.icon-accordion: include icons/book.html
                    Span.publications My Publications
                    span.icon-angledown: include icons/angle-down.html
                ul.accordion
                    li Skydive Magazine
                    li Candid Aid
            li
                .menu-item
                    span.icon-accordion: include icons/stats-up.html
                    Span My Analytics
            li
                .menu-item
                    span.icon-accordion: include icons/wallet.html
                    Span My Ad Campaigns
            li
                .menu-item
                    span.icon-accordion: include icons/heart.html
                    Span.account My Account
                    span.icon-angledown: include icons/angle-down.html
                ul.accordion
                    li Profile
                    li Interests
                    li Notification Settings
                    li Payment Details
            li
                .menu-item
                    span.icon-accordion: include icons/view-list-alt.html
                    Span Recent Activity

    .baseMenu__down
        ul.down
            li
                .menu-item.help
                    .icon-accordion.help-box
                        .icon-accordion.help-icon
                            include icons/info.html
                    Span Help &amp; Support
