.content-container
    .content-container__layerOne-box
        .content-container__layerOne-box__breadcrumb
            span You are here
            span.icon: include icons/angle-right.html
            span Stories
        .content-container__layerOne-box__settings
            span.icon: include icons/settings.html
    .content-container__layerTwo-box
        span.icon: include icons/filter.html
        span Filter
        input(placeholder="Enter your filter term here...")
        span by publication
        .selectbox
            select
                option All/None
            span.icon: include icons/angle-down.html
    .content-container__layerThree-box
        span.icon: include icons/exchange-vertical.html
        span Sort by
        .selectbox
            select
                option Name
            span.icon: include icons/angle-down.html
        span View as
        .icon-box
            span.icon2: include icons/layout-list-post.html
            span.icon2: include icons/layout-list-thumb-alt.html
            .selected
                span.icon2: include icons/layout-grid2-thumb.html
    .content-container__layerFour-box
        span Hi there Hamza,
        p.
            On this page you can find an overview of your articles.
            You can sort and filter them using one of the input fields above.
            Don't like the way the articles are displayed? Change your view by
            clicking one of the 'view as' options.
        .choice
            span Okay, got it!
            span Show me more information
        span.icon-plus: include icons/plus.html
    .content-container__layerFive-box
        article.type1
            span.title Trump is Getting Out of Control
            .metadata
                span.publish published
                span.date Today 15:16
                span.in in
                span.magazines bruinebeer, World News, ...
            img(src="assets/img/trump2.jpg")
            p.
                Trump has yet again shocked the world, now he
                claims scientists are lying about climate change
                because they don't like his pineapple tan...
            .socialmedia
                .item
                    span.icon: include icons/heart.html
                    span.data 1,344
                .item
                    span.icon: include icons/eye.html
                    span.data 2385
                .item
                    span.icon: include icons/comment.html
                    span.data 21
                .item
                    span.icon: include icons/tag.html
                    span.data.last apocalypse, ...
                    span.icon.rotate: include icons/more-alt.html
        article.type2
            span.title Trump is Getting Out of Control
            .metadata
                span.publish published
                span.date Today 15:16
                span.in in
                span.magazines bruinebeer, World News, ...
            img(src="assets/img/trump.jpg")
            p.
                Trump has yet again shocked the world, now he
                claims scientists are lying about climate change
                because they don't like his pineapple tan...
            .socialmedia
                .item
                    span.icon: include icons/heart.html
                    span.data 1,344
                .item
                    span.icon: include icons/eye.html
                    span.data 2385
                .item
                    span.icon: include icons/comment.html
                    span.data 21
                .item
                    span.icon: include icons/tag.html
                    span.data.last apocalypse, ...
                    span.icon.rotate: include icons/more-alt.html
    .content-container__layerSix-box
        span.icon: include icons/plus.html
        span.text Write a Story
    .content-container__layerSeven-box
        article.type1
            span.title Trump is Getting Out of Control
            .metadata
                span.publish published
                span.date Today 15:16
                span.in in
                span.magazines bruinebeer, World News, ...
            .box
                .box__left
                    img(src="assets/img/t.jpg")
                .box__right
                    p.
                        Trump has yet again shocked the world, now he
                        claims scientists are lying about climate change
                        because they don't like his pineapple tan lorem ipsum dolorem
                        samson en gert because they don't like his pineapple tan lorem ipsum dolorem
                        samson en gert...
                    .socialmedia
                        .item
                            span.icon: include icons/heart.html
                            span.data 1,344
                        .item
                            span.icon: include icons/eye.html
                            span.data 2385
                        .item
                            span.icon: include icons/comment.html
                            span.data 21
                        .item
                            span.icon: include icons/tag.html
                            span.data.last apocalypse, trump, usa, president 
                            span.icon.rotate: include icons/more-alt.html
    .content-container__layerEight-box
        span.icon: include icons/plus.html
        span.text Write a Story
    .content-container__layerNine-box
        article.type1
            .box-left
                span.title Trump is Getting Out of Control
                .metadata
                    span.publish published
                    span.date Today 15:16
                    span.in in
                    span.magazines bruinebeer, World News, ...
            .box-right           
                .socialmedia
                    .item
                        span.icon: include icons/heart.html
                        span.data 1,344
                    .item
                        span.icon: include icons/eye.html
                        span.data 2385
                    .item
                        span.icon: include icons/comment.html
                        span.data 21
                    .item
                        span.icon: include icons/tag.html
                        span.data.last apocalypse, trump, usa, president 
                        span.icon.rotate: include icons/more-alt.html
    .content-container__layerTen-box
        .box
            span.icon: include icons/plus.html
            span.text Write a Story
