fieldset
    legend Default Teaser
    p.
        Click on the teasertext of image to edit it. These will be used by default
        whenever you want to publish your article, of course you can customize them
        for each specific publication
    .content__teaserbox
        img(src="assets/img/duck.png")
        h2 I am just a title
        p.
            Lorem ipsum and then some ipsum and then some ipsum  and then some ipsum
            and then some ipsum and then some ipsum and then some ipsum and then some ipsum
            and then some ipsum and then some ipsum.
        .content__teaserbox__button
            .content__teaserbox__button__content
                a(href="") Replace Image





