.content-container
    .content-container__layerOne-box
        .content-container__layerOne-box__breadcrumb
            span You are here
            span.icon: include icons/angle-right.html
            span Stories
        .content-container__layerOne-box__settings
            span.icon: include icons/settings.html
    .content-container__layerTwo-box
        span.icon: include icons/filter.html
        span Filter
        input(placeholder="Enter your filter term here...")
        span by publication
        .selectbox
            select
                option All/None
            span.icon: include icons/angle-down.html
    .content-container__layerThree-box
        span.icon: include icons/exchange-vertical.html
        span Sort by
        .selectbox
            select
                option Name
            span.icon: include icons/angle-down.html
        span View as
        .icon-box
            span.icon2: include icons/layout-list-post.html
            span.icon2: include icons/layout-list-thumb-alt.html
            .selected
                span.icon2: include icons/layout-grid2-thumb.html
    .content-container__layerFour-box
        span Hi there Hamza,
        p.
            On this page you can find an overview of your articles. 
            You can sort and filter them using one of the input fields above.
            Don't like the way the articles are displayed? Change your view by 
            clicking one of the 'view as' options.
        .choice 
            span Okay, got it!
            span Show me more information
        span.icon-plus: include icons/plus.html


