extends ./components/baseMockup
block title
    title Small Teaser tasks | Task 2
block content
    .page-container-task2
        header
            include components/baseHeaderTwo
        section.task2
            .menu
                include components/baseMenu
            .content
                span lalal
            .aside
                include components/baseAside

