extends ./components/baseMockup
block title
    title Small Teaser tasks | Task 1
block content
    .page-container-task1
        header
            include components/baseHeaderOne
        section.info
            include components/baseInfoOne
        section.content
            include components/baseContent
        footer.task1
            include components/baseFooter



