.baseHeaderTwo
    display: flex
    flex-direction: row
    align-items: center
    height: $blh
    position: relative
    top: blh(-0.1)
    &__logo
        display: flex
        flex-direction: row
        align-items: center
        height: blh(1)
        position: relative
        top: 2px
        margin-left: $blh
        img
            width: $blh
            height: $blh
            -ms-transform: scale(1.5)
            -webkit-transform: scale(1.5)
            transform: scale(1.5)
        span
            padding: 0
            padding-left: blh(.5)
            width: blh(6)
            font-size: $bfs * 1.6
            line-height: $blh
            font-weight: $bold
            font-family: $title-font
    &__search
        height:  blh(1)
        margin-left: blh(3)
        display: flex
        flex-direction: row
        align-items: center
        position: relative
        top: 3px
        .icon
            width: $blh
            -ms-transform: scale(.8)
            -webkit-transform: scale(.8)
            transform: scale(.8)
            position: relative
            top: 2px
        input
            width: blh(20)
            border: none
            color: black
            &::placeholder
                color: $placeholder-text
                font-family: $title-font
    &__menu
        display: flex
        flex-direction: row
        align-items: center
        font-family: $title-font
        span.info
            font-style: italic
            color: $header-item
            width: blh(4)
        span.sum
            font-weight: 500
            font-family: $number-font
            width: blh(2.5)
        span.choice
            font-weight: $bold
            text-transform: uppercase
            font-family: $title-font
            position: relative
            top: 1px
            margin-left: blh(.8)
    &__notification
        display: flex
        flex-direction: row
        align-items: center
        margin-left: blh(.8)
        margin-right: blh(.8)
        border-left: 1px $options-border solid
        border-right: 1px $options-border solid
        font-family: $number-font
        &__box-comments
            display: flex
            flex-direction: row
            align-items: center
            position: relative
            -ms-transform: scale(1.3)
            -webkit-transform: scale(1.3)
            transform: scale(1.3)
            margin-right: blh(.7)
            margin-left: blh(.9)
            &__inner
                position: absolute
                background-color: $notification-number
                color: $text-background
                border-radius: 50%
                width: $blh * .45
                height: $blh * .45
                text-align: center
                font-size: $bfs * .7
                top: 9px
                left: 8px
        &__box-bell
            display: flex
            flex-direction: row
            align-items: center
            position: relative
            -ms-transform: scale(1.3)
            -webkit-transform: scale(1.3)
            transform: scale(1.3)
            margin-right: blh(.9)
            &__inner
                position: absolute
                background-color: $notification-number
                color: $text-background
                border-radius: 50%
                width: $blh * .45
                height: $blh * .45
                text-align: center
                font-size: $bfs * .7
                top: 9px
                left: 9px

    &__dashboard
        display: flex
        flex-direction: row
        align-items: center
        img
            width: blh(1.2)
            height: blh(1.2)
            border-radius: 50%
            margin-right: blh(.2)
        span
            font-weight: $bold
            min-width: blh(5)
            margin-right: blh(.2)
        .icon
            -ms-transform: scale(.6)
            -webkit-transform: scale(.6)
            transform: scale(.6)
            width: $blh
            position: relative
            top: 2px



