.content-container
    &__layerOne-box
        display: flex
        align-items: center
        line-height: $blh
        font-weight: $bold
        margin-top: $blh
        &__breadcrumb
            margin-left: $blh
            flex: 1
            display: flex
            align-items: center
            text-transform: uppercase
            font-size: $bfs * .8
            font-family: $title-font
            color: $breadcrumb-color
            .icon
                display: flex
                align-items: center
                -ms-transform: scale(.6)
                -webkit-transform: scale(.6)
                transform: scale(.6)
                position: relative
                top: -1px
                left: 3px
                width: $blh
                fill: $breadcrumb-color-icon
        &__settings
            display: flex
            justify-content: flex-end
            margin-right: $blh
            float: right
            position: relative
            top: 5px
    &__layerTwo-box
        display: flex
        align-items: center
        height: blh(1)
        margin-top: $blh
        font-family: $text-font
        font-size: $bfs * .8
        .icon
            display: block
            -ms-transform: scale(.6)
            -webkit-transform: scale(.6)
            transform: scale(.6)
            margin-left: blh(.9)
            margin-right: blh(.1)
        input
            width: blh(18)
            height: $blh
            border: 1px solid $options-border
            box-shadow: 2px 2px 2px $options-border
            border-radius: 3.25px
            margin-right: blh(.5)
            margin-left: blh(.3)
        ::-webkit-input-placeholder
            font-family: $title-font
            padding-left: blh(.5)
            font-size: $bfs * .8
        ::-moz-placeholder
            font-family: $title-font
            padding-left: blh(.5)
            font-size: $bfs * .8
        :-ms-input-placeholder
            font-family: $title-font
            padding-left: blh(.5)
            font-size: $bfs * .8
        :-moz-placeholder
            font-family: $title-font
            padding-left: blh(.5)
            font-size: $bfs * .8
        span
            font-style: italic
            position: relative
            color: $form-color
            top: 1px
        .selectbox
            display: flex
            position: relative
            select
                height: $blh
                border: 1px solid $options-border
                box-shadow: 2px 2px 2px $options-border
                border-radius: 3.25px
                margin-left: blh(.4)
                width: blh(7.1)
                -webkit-appearance: none
                -moz-appearance: none
                text-indent: 1px
                text-overflow: ''
                padding-left: blh(.5)
                font-family: $title-font
            .icon
                position: absolute
                right: 3px
                top: 4px
                fill: $form-color
    &__layerThree-box
        display: flex
        align-items: center
        height: blh(1)
        margin-top: $blh
        font-family: $text-font
        font-size: $bfs * .8
        //background-color: green
        .icon
            display: block
            margin-left: blh(.9)
            margin-right: blh(.1)
            -moz-transform: scaleX(-1) scale(.6)
            -o-transform: scaleX(-1) scale(.6)
            -webkit-transform: scaleX(-1) scale(.6)
            transform: scaleX(-1) scale(.6)
        span
            font-style: italic
            position: relative
            color: $form-color
            top: 1px
        .selectbox
            display: flex
            position: relative
            width: blh(6)
            border-right: 1px solid $options-border
            margin-right: blh(.3)
            //background-color: pink
            height: $blh
            select
                height: $blh
                border: 1px solid $options-border
                border-radius: 3.25px
                box-shadow: 2px 2px 2px $options-border
                margin-left: blh(.4)
                width: blh(5)
                -webkit-appearance: none
                -moz-appearance: none
                text-indent: 1px
                text-overflow: ''
                padding-left: blh(.3)
                font-family: $title-font
            .icon
                position: absolute
                right: blh(.7)
                top: 4px
                fill: $form-color
        .icon-box
            margin-left: blh(.5)
            border: 1px solid $options-border
            border-radius: 3.25px
            box-shadow: 2px 2px 2px $options-border
            width: blh(3.5)
            height: $blh
            display: flex
            align-items: center
            justify-content: space-around
            .icon2
                fill: $view-color-icon
                width: $blh
                position: relative
                left: 4px
            .selected
                //fill: $view-color-icon-selected
                background: $view-color-icon-selected-background
                border-radius: 0 3.25px 3.25px 0
                height: blh(.95)
                width: blh(1.1)
                display: flex
                align-items: center
                position: relative
                left: 1.5px
                .icon2
                    fill: $view-color-icon-selected
                    position: relative
                    left: 6px
    &__layerFour-box
        background-color: $infobox-background
        margin-top: blh(1)
        margin-left: blh(1)
        margin-right: blh(1)
        height: blh(9)
        border-radius: 3.25px
        color: $content-background
        padding-top: blh(1)
        padding-left: blh(1)
        line-height: blh(1)
        position: relative
        span
            font-family: $title-font
            font-weight: $bold
            font-size: $bfs * 1.5
        p
            font-family: $text-font
            position: relative
            top: -2px
            margin: 0
            margin-top: blh(1)
            padding-right: blh(1)
            font-size: $bfs * 1
        .choice
            margin-top: blh(.85)
            span
                margin-right: blh(1)
                font-size: $bfs * 1
        .icon-plus
            display: block
            -ms-transform: rotate(45deg) scale(1.2)
            -webkit-transform: rotate(45deg) scale(1.2)
            transform: rotate(45deg) scale(1.2)
            width: blh(1)
            height: blh(1)
            fill: $button-background
            position: absolute
            right: blh(1)
            top: blh(1.15)
    &__layerFive-box
        margin-top: blh(1)
        display: flex
        article
            border: 1px solid $options-border
            box-shadow: 1px 1px 1px $options-border
            border-radius: 3.25px
            padding-left: blh(1)
            padding-right: blh(1)
            padding-top: blh(.35)
            padding-bottom: blh(.45)
            display: flex
            flex-direction: column
            width: blh(14)
            height: blh(11)
            min-height: blh(11)     //So that content doesn't mis-allign
            max-height: blh(11)     //So that content doesn't mis-allign
            margin-left: blh(1)
            margin-right: blh(1)
            span.title
                font-weight: $bold
                font-family: $title-font
                font-size: $bfs * 1.5
                -webkit-transform: scale(1.03, 1)
                -moz-transform: scale(1.03, 1)
                -ms-transform: scale(1.03, 1)
                -o-transform: scale(1.03, 1)
                transform: scale(1.03, 1)
                position: relative
                left: 4px
                margin-bottom: blh(.4)
            .metadata
                font-size: $bfs * .9
                margin-bottom: blh(.55)
                font-family: $title-font
                .publish
                    background-color: $infobox-background
                    padding-left: 3px
                    padding-right: 3px
                    padding-bottom: 1px
                    padding-top: 1px
                    color: $button-background
                    border-radius: 3.25px
                    width: blh(2.5)
                    margin-right: blh(.2)
                .date
                    color: $article-meta
                    margin-right: blh(.1)
                .in
                    font-style: italic
                    color: $article-meta
                    margin-right: blh(.2)
                .magazines
                    font-weight: $bold
            img
                -moz-transform: scaleX(-1)
                -o-transform: scaleX(-1)
                -webkit-transform: scaleX(-1)
                transform: scaleX(-1)
            p
                font-size: $bfs * .8
                line-height: blh(.7)
                font-family: $text-font
                margin-bottom: blh(.95)
                font-weight: $medium
            .socialmedia
                display: flex
                .item
                    display: flex
                    align-items: center
                    height: blh(.9)
                    font-size: $bfs * .8
                    color: $article-social
                    .icon
                        margin-right: blh(.3)
                        position: relative
                        top: 1px
                        fill: $article-social
                    .data
                        margin-right: blh(.4)
                        font-family: $number-font
                    .last
                        //margin-left: blh(.2)
                        width: blh(3.75)
                        margin-right: 0
                        font-family: $title-font
                    .rotate
                        display: block
                        -ms-transform: rotate(90deg) scale(.8)
                        -webkit-transform: rotate(90deg) scale(.8)
                        transform: rotate(90deg) scale(.8)
        article.type2
            padding-left: 0
            padding-right: 0
            position: relative
            p
                position: absolute
                width: blh(12)
                padding-left: blh(1)
                top: blh(6)
                color: $content-background
                font-weight: $regular
                //font-size: $bfs * .8
            img
                filter: brightness(20%)
            .socialmedia
                padding-left: blh(1)
                margin-top: blh(.55)
            .metadata
                padding-left: blh(1)
            .title
                padding-left: blh(1)
    &__layerSix-box
        margin-top: blh(1)
        border: 1px solid $options-border
        box-shadow: 1px 1px 1px $options-border
        border-radius: 3.25px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: blh(14)
        height: blh(11)
        margin-left: blh(1)
        margin-right: blh(1)
        fill: $article-meta
        color: $article-meta
        font-weight: $medium
        font-size: $bfs * 1.4
        font-family: $text-font
        .icon
            display: block
            -webkit-transform: scale(1.8)
            -moz-transform: scale(1.8)
            -ms-transform: scale(1.8)
            -o-transform: scale(1.8)
            transform: scale(1.8)
            position: relative
            top: blh(-0.5)
        .text
            position: relative
            top: blh(-0.4)
    &__layerSeven-box
        margin-top: blh(1)
        display: flex
        article
            border: 1px solid $options-border
            box-shadow: 1px 1px 1px $options-border
            border-radius: 3.25px
            padding-left: blh(1)
            padding-right: blh(1)
            padding-top: blh(.35)
            padding-bottom: blh(.45)
            display: flex
            flex-direction: column
            width: blh(31)
            height: blh(8)
            min-height: blh(8)     //So that content doesn't mis-allign
            max-height: blh(8)     //So that content doesn't mis-allign
            margin-left: blh(1)
            margin-right: blh(1)
            span.title
                font-weight: $bold
                font-family: $title-font
                font-size: $bfs * 1.5
                -webkit-transform: scale(1.03, 1)
                -moz-transform: scale(1.03, 1)
                -ms-transform: scale(1.03, 1)
                -o-transform: scale(1.03, 1)
                transform: scale(1.03, 1)
                position: relative
                left: blh(.5)
                margin-bottom: blh(.4)
            .metadata
                font-size: $bfs * .9
                margin-bottom: blh(.55)
                font-family: $title-font
                .publish
                    background-color: $infobox-background
                    padding-left: 3px
                    padding-right: 3px
                    padding-bottom: 1.5px
                    padding-top: 1px
                    color: $button-background
                    border-radius: 3.25px
                    width: blh(2.5)
                    margin-right: blh(.2)
                    font-size: $bfs * .8
                .date
                    color: $article-meta
                    margin-right: blh(.1)
                .in
                    font-style: italic
                    color: $article-meta
                    margin-right: blh(.4)
                .magazines
                    font-weight: $bold
            .box
                display: flex
                &__left
                    img
                        -moz-transform: scaleX(-1)
                        -o-transform: scaleX(-1)
                        -webkit-transform: scaleX(-1)
                        transform: scaleX(-1)
                        margin-right: blh(1)
                &__right
                    p
                        margin-top: blh(.3)
                        font-size: $bfs * .8
                        line-height: blh(.7)
                        font-family: $text-font
                        font-weight: $medium
                        width: blh(20)
                        margin-right: 2
                    .socialmedia
                        display: flex
                        margin-top: blh(.8)
                        color: $article-social
                        .item
                            display: flex
                            align-items: center
                            height: blh(.9)
                            font-size: $bfs * .8
                            fill: $article-social
                            .icon
                                margin-right: blh(.3)
                                position: relative
                                top: 1px
                            .data
                                margin-right: blh(.4)
                                font-family: $number-font
                            .last
                                //margin-left: blh(.2)
                                width: blh(13)
                                margin-right: 0
                                font-family: $title-font
                            .rotate
                                display: block
                                -ms-transform: rotate(90deg) scale(.8)
                                -webkit-transform: rotate(90deg) scale(.8)
                                transform: rotate(90deg) scale(.8)
    &__layerEight-box
        margin-top: blh(1)
        border: 1px solid $options-border
        box-shadow: 1px 1px 1px $options-border
        border-radius: 3.25px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        width: blh(31)
        height: blh(4)
        margin-left: blh(1)
        margin-right: blh(1)
        fill: $article-meta
        color: $article-meta
        font-weight: $medium
        font-size: $bfs * 1.4
        font-family: $text-font
        .icon
            display: block
            -webkit-transform: scale(1.3)
            -moz-transform: scale(1.5)
            -ms-transform: scale(1.5)
            -o-transform: scale(1.5)
            transform: scale(1.3)
            margin-right: blh(.5)
            // position: relative
            // top: blh(-.55)
    &__layerNine-box
        margin-top: blh(1)
        display: flex
        article       
            padding-top: blh(.35)
            padding-bottom: blh(.45)
            display: flex
            flex-direction: row
            width: blh(31)
            height: blh(3)
            min-height: blh(3)     //So that content doesn't mis-allign
            max-height: blh(3)     //So that content doesn't mis-allign
            margin-left: blh(1)
            margin-right: blh(1)
            span.title
                font-weight: $bold
                font-family: $title-font
                font-size: $bfs * 1.55
                -webkit-transform: scale(1.03, 1)
                -moz-transform: scale(1.03, 1)
                -ms-transform: scale(1.03, 1)
                -o-transform: scale(1.03, 1)
                transform: scale(1.05, 1)
                position: relative
                // /left: blh(.5)
                margin-bottom: blh(.5)
            .metadata
                font-size: $bfs * .9
                margin-bottom: blh(.55)
                margin-top: blh(.4)
                font-family: $title-font
                .publish
                    background-color: $infobox-background
                    padding-left: 3px
                    padding-right: 3px
                    padding-bottom: 1.5px
                    padding-top: 1px
                    color: $button-background
                    border-radius: 3.25px
                    width: blh(2.5)
                    margin-right: blh(.2)
                    font-size: $bfs * .8
                .date
                    color: $article-meta
                    margin-right: blh(.1)
                .in
                    font-style: italic
                    color: $article-meta
                    margin-right: blh(.4)
                .magazines
                    font-weight: $bold
            .box-right
                display: flex
                margin-left: blh(1)
                .socialmedia
                    display: flex
                    margin-top: blh(1.3)
                    color: $article-social
                    .item
                        display: flex
                        align-items: center
                        height: blh(.9)
                        font-size: $bfs * .8
                        fill: $article-social
                        .icon
                            margin-right: blh(.3)
                            position: relative
                            top: 1px
                        .data
                            margin-right: blh(.4)
                            font-family: $number-font
                        .last
                            //margin-left: blh(.2)
                            width: blh(9)
                            margin-right: 0
                            font-family: $title-font
                        .rotate
                            display: block
                            -ms-transform: rotate(90deg) scale(.8)
                            -webkit-transform: rotate(90deg) scale(.8)
                            transform: rotate(90deg) scale(.8)
    &__layerTen-box
        display: flex
        justify-content: center
        margin-bottom: blh(1)
        .box
            margin-top: blh(1)
            border: 1px solid $options-border
            box-shadow: 1px 1px 1px $options-border
            border-radius: 3.25px
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            width: blh(9.7)
            height: blh(1.1)
            margin-left: blh(1)
            margin-right: blh(1)
            fill: $article-meta
            color: $article-meta
            font-weight: $medium
            font-size: $bfs * .9
            font-family: $text-font
            position: relative
            top: blh(-.1)
            right: blh(.8)
            .icon
                display: block
                -webkit-transform: scale(.8)
                -moz-transform: scale(.8)
                -ms-transform: scale(.8)
                -o-transform: scale(.8)
                transform: scale(.8)
                margin-right: blh(.3)
                position: relative
                top: blh(.05)












