.info
    display: flex
    flex-direction: column
    align-items: center
    min-width: 1400px
    color: $text-background
    font-family: $text-font
    h1
        margin-top: $blh * 2
        line-height: $blh * 1.4
        font-family: $title-font
        margin-bottom: 0
    &__help-button
        line-height: $blh * 1.2
        margin-top: $blh * .4
        width: $blh * 4
        color: $button-text-foreground
        background-color: $button-background
        display: flex
        justify-content: center
        align-items: center
        border-radius: 25px
        font-weight: $bold
        span.icon
            -ms-transform: scale(.6)
            -webkit-transform: scale(.6)
            transform: scale(.6)
            position: relative
            left: $blh * .3
            top: $blh * .1
    p
        margin-top: $blh
        width: $blh * 25
        text-align: center
        line-height: $blh
        margin-bottom: 0
    &__confirmation-links
        line-height: $blh
        margin-top: $blh
        span
            //margin-right: $blh *
            margin-left: $blh * 1.5





