.menu
    display: flex
    flex-direction: column
    //margin-right: $blh
    &__up
        flex: 1
        ul.top
            list-style-type: none
            padding: 0
            padding-top: $blh
            margin: 0
            font-family: $title-font
            li > ul li
                margin-left: blh(.35)
            li
                line-height: $blh
                margin-bottom: blh(.65)
                font-weight: $bold
                font-size: $bfs * .9
                .menu-item
                    padding-left: $blh
                    display: flex
                    align-items: center
                    position: relative
                    span.uppercase
                        text-transform: uppercase
                    span.icon-accordion
                        margin-right: blh(.2)
                        width: $blh
                        height: $blh
                        position: relative
                        top: 3px
                        -ms-transform: scale(.8)
                        -webkit-transform: scale(.8)
                        transform: scale(.8)
                    span.publications
                        // margin-right: blh(2.5)
                    span.account
                        //margin-right: blh(3.7)
                    .icon-angledown
                        display: block
                        -ms-transform: scale(.5)
                        -webkit-transform: scale(.5)
                        transform: scale(.5)
                        position: absolute
                        right: $blh
                        top: 3.5px
            li > ul
                padding-left: blh(1.9)
                list-style-type: none
                li
                    font-weight: $regular
                    font-size: $bfs * .8
                    margin-top: blh(.4)
                li:last-child
                    margin-bottom: 0
            li > ul.accordion
                //background-color: $accordion-background
                border-top: 1px $header-border solid
                border-bottom: 1px $header-border solid
                //box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1)
                background: $accordion-background
                background: -webkit-linear-gradient(left top, $accordion-background, $accordion-background2)
                background: -o-linear-gradient(right right, $accordion-background, $accordion-background2)
                background: -moz-linear-gradient(right right,$accordion-background, $accordion-background2)
                background: linear-gradient(to right right, $accordion-background, $accordion-background2)
    &__down
        margin-bottom: blh(1.25)
        ul.down
            list-style-type: none
            margin: 0
            padding: 0
            padding-left: $blh
            font-family: $title-font
            font-size: $bfs * .9
            .help
                display: flex
                align-items: center
                .help-box
                    border: 1px solid $help
                    border-radius: 50%
                    height: blh(.7)
                    width: blh(.7)
                    position: relative
                    left: 2px
                    margin-right: blh(.2)
                    .help-icon
                        position: relative
                        //left: 1px
                        top: -1px
                        -ms-transform: scale(.7)
                        -webkit-transform: scale(.7)
                        transform: scale(.7)
                        fill: $help
                span
                    margin-left: blh(.2)
                    color: $help
                    position: relative
                    top: 1px


