html
    overflow-y: scroll      //otherwise the page becomes mis-aligned when scrolling
.responsivebox
    width: auto
    display: flex
    justify-content: center
    .page-container-task2
        width: blh(57)
        display: flex
        flex-direction: column
        header
            border-bottom: 1px solid $header-border
            height: blh(3)
            display: flex
            align-items: center
            position: fixed
            z-index: 1
            background-color: $header-background
            width: blh(57)
        section.task2
            display: flex
            background-color: $content-background
            height: 100%
            margin-top: blh(3)
            width: blh(57)
            .menu
                height: 100%
                width: blh(10)
                border-right: 1px solid $header-border
            .content
                width: blh(33)
            .aside
                width: blh(14)
                border-left: 1px solid $header-border

