.page-container
    display: flex
    flex-direction: column
    header
        overflow: hidden
        background-color: $header-background
        border-bottom: 2px solid $header-underline
        color: $header-text
        height: $blh * 3
        min-width: 1400px
    section.info
        background-color: $infobox-background
        height: $blh * 13
        overflow: hidden
        min-width: 1400px
    section.content
        overflow: hidden
        background-color: $content-background
        height: $blh * 43
        min-width: 1400px
    footer
        overflow: hidden
        background-color: $header-background
        height: $blh * 3
        min-width: 1400px




