.responsivebox
    width: auto
    display: flex
    justify-content: center
    .page-container-task1
        display: flex
        flex-direction: column
        width: blh(57)
        header
            overflow: hidden
            background-color: $header-background
            border-bottom: 2px solid $header-underline
            color: $header-text
            height: $blh * 3
        section.info
            background-color: $infobox-background
            height: $blh * 13
            overflow: hidden
        section.content
            overflow: hidden
            background-color: $content-background
            height: $blh * 43
        footer
            overflow: hidden
            background-color: $header-background
            height: $blh * 3
            background-color: $header-background






